{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block content %}

{% if request.user.is_authenticated %}

    <h1>email :
      {{ request.user.email }}</h1>
    <h1>username :
      {{ request.user.username }}</h1>

  {% endif %}

  <div class="card" style="  width: 40rem; height: 20rem; d-flex position: relative;">
    <div class="card-body">
      <h3 class="card-title">Profile</h3>
      <div class='email_content'>
        {% if request.user %}
          <img src="https://pbs.twimg.com/media/DSYRwQsVwAEbNlu?format=png&name=240x240" alt="image">
        </div>
        <div class='email_content'>
          <h5 class="card-text">Name :
            {{ request.user.username }}</h5>
          <h5>Email :
            {{ request.user.email }}
          </h5>
        {% else %}
        {% endif %}
      </div>
    </div>
  </div>

{% endblock content %}
