{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block content %}

{% if request.user %}

<h1>email : {{ request.user.email }}</h1>
<h1>username : {{ request.user.username }}</h1>
{% comment %} {{ request.user.email }} {% endcomment %}



{% endif %}

<div class="card" style="  width: 32rem; height: 20rem; d-flex position: relative;">
    <div class="card-body">
      <h3 class="card-title">Profile</h3>
      <h5>Email</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

 

{% endblock content %}