{% extends 'base.html' %}

{% block content %}

  <div class="d-flex flex-column align-items-center mt-5">

    <div class="d-flex">
      <div class="">
        <hr class="border-5">
        <h1>{{ product.name }}</h1>

        <h3>\
          {{ product.price }}</h3>
        <p>작성일 :
          {{ product.created_at }}</p>
        {{ product.user }}
        <hr class="border-5 ">
        <div>
          <p class="fs-5">Delivery Info</p>

          <div class="d-flex justify-content-between">
            <p style="font-size:0.8em;">출고 정보</p>
            <p style="font-size:0.8em;">
              결제 3일 이내 출고</p>
          </div>
          <div class="d-flex justify-content-between mx-1">
            <p style="font-size:0.8em;">배송비</p>
            <p class="mx-5" style="font-size:0.8em;">
              무료배송
            </p>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-center ms-5">

        <img src="{{ product.image.url }}" alt="123">

      </div>
    </div>
    <div>
      <p>내용 :
        {{ product.content }}</p>
    </div>
    <div>
      {% if request.user == product.user %}
        <a href="{% url 'products:update' product.pk %}">수정하기</a>
        <a href="{% url 'products:delete' product.pk %}">삭제하기</a>
      {% endif %}
      <a href="{% url 'reviews:index' product.pk %}">리뷰</a>
      <a href="{% url 'products:add_cart' product.pk %}">
        {% if request.user in product.cart.all %}
          <i class="bi bi-cart-check-fill"></i>
        {% else %}
          <i class="bi bi-cart-check"></i>
        {% endif %}
      </a>
    </div>

  </div>
{% endblock content %}
