{% extends 'base.html' %}

{% block content %}

<h1>index</h1>

<div id="carousel" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner mb-5">
    {% for carousel in carousels %}
      {% if forloop.counter == 1 %}
        <div class="carousel-item active">
          {% if carousel in products %}
            <img src="{{ carousel.image.url }}" class="d-block w-100" alt="Error">
          {% else %}
            <img src="https://dummyimage.com/640x480/636363/fff" class="d-block w-100" alt="Error">
          {% endif %}
          <div class="carousel-caption d-none d-md-block">
            <h5>slide {{ forloop.counter }} label</h5>
            <p>Some representative placeholder content for the slide {{ forloop.counter }}.</p>
          </div>
        </div>
      {% else %}
        <div class="carousel-item">
          {% if carousel in products %}
            <img src="{{ carousel.image.url }}" class="d-block w-100" alt="Error">
          {% else %}
            <img src="https://dummyimage.com/640x480/636363/fff" class="d-block w-100" alt="Error">
          {% endif %}
          <div class="carousel-caption d-none d-md-block">
            <h5>slide {{ forloop.counter }} label</h5>
            <p>Some representative placeholder content for the slide {{ forloop.counter }}.</p>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="row row-cols-3 row-cols-md-3 g-4">
  {% for product in products %}
    <div class="col">
      <div class="card h-100">
        <a href="{% url 'products:detail' product.id %}">
          <img src="{{ product.image.url }}" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.star }}</p>
          <p class="card-text">{{ product.price }}</p>
          <p class="text-muted">Reviews ({{ product.review.count }})</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>


{% endblock content %}
